$color-primary: #fdffa0;
$color-secondary: #ffe70e;
$color-tertiary:#feffdb;
$color-accent: #ffb325;
$color-gray:#d4d4d7;
$color-white: #fdfdfd;
$color-body-primary: #0a0a0a;
$header-height: 60px;
$footer-height: 30px;